<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Hello! <%= locals.text || "World" %>
  </body>
</html>

<!-- HELLO IN TEXT POTEGNE IZ EJS FAJLA KJER JE TEXT 
 local je pa da se mora ujemati isti ime v objektu v ejs render da prika탑e world druga훾e prika탑e 
 훾e je pravo ime text hello kar smo tudi definirali-->
